<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.librinfo.evecontrol" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eve-control</name>
    <description>
        Control your e-venement tickets from your android device
    </description>
    <author email="romain.sanchez@libre-informatique.fr">
        Romain Sanchez
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="18" />
        <icon src="www/img/e-venement.png" />
    </platform>
    <access origin="*" />
    <allow-navigation href="*" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="com.bez4pieci.cookies" spec="https://github.com/bez4pieci/Phonegap-Cookies-Plugin.git" />
    <plugin name="cordova-plugin-android-volume" spec="0.0.6" />
    <plugin name="cordova-plugin-insomnia" spec="git+https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-keyboard" spec="^1.1.5" />
    <plugin name="cordova-plugin-media" spec="^3.0.1" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.2.2" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
